/*Wildcard asterisk used to override all the default styles*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*header*/
header {
    background-color: lightcoral;
}
/*main content*/
main {
    background-color: lightblue;
}
/*footer*/
footer {
    background-color: orange;
}